<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bjasuja.syr.edu.touristguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Touristguidetheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Touristguidetheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <activity
            android:name=".SplashScreen2"
            android:theme="@style/Touristguidetheme"
            android:screenOrientation="portrait"/>

        <service
            android:name=".TTSService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".GPSTracker"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".SmsReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity android:name=".Signup" />
        <activity android:name=".Signin" />

        <activity
            android:name=".ForgetPassword"
            android:theme="@style/Touristguidetheme2" />

        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"  />

        <activity
            android:name=".MapsActivity"
            android:label="Check Your Route"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">


        </activity>

        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/Touristguidetheme"></activity>

        <activity
            android:name="com.apptracker.android.module.AppModuleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.apptracker.android.track.AppTrackerService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5wjM9aabJ2FgjEHwx5ZPc1k40NZoJvpI" />

        android:name="android.support.multidex.MultiDexApplication">
    </application>

</manifest>